$backgroundColor: rgb(245, 231, 213);
$mainTextColor: rgb(243, 69, 69);

%roboto_400_18 {
  font-weight: 400;
  font-size: 18px;
}

%roboto_500_25_28 {
  font-weight: 500;
  font-size: clamp(25px, 2.5vw, 28px);
}

%roboto_500_22_25 {
  font-weight: 500;
  font-size: clamp(22px, 2.5vw, 25px);
}

%roboto_500_27_40 {
  font-weight: 500;
  font-size: clamp(27px, 2.5vw, 40px);
}

%roboto_500_27_35 {
  font-weight: 500;
  font-size: clamp(27px, 2.5vw, 35px);
}
